<div class="graphs">
    {{!-- widget --}}
    
    <div class="col_3">
        <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                <i class="fa fa-mail-forward"></i>
                <div class="stats">
                    <h5>4</h5>
                    <div class="grow">
                        <p>Total</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 widget widget1">
            <div class="r3_counter_box"> 
                <i class="fa fa-users"></i>
                <div class="stats">
                    <h5>2</h5>
                    <div class="grow grow1">
                        <p>Open</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                <i class="fa fa-eye"></i>
                <div class="stats">
                    <h5>2</h5>
                    <div class="grow grow3">
                        <p>Close</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 widget">
            <div class="r3_counter_box">
               
                <div class="stats">
                    <a href="" class="btn btn-info">Add Vender</a>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>

    {{!-- widget end --}}
    {{!-- Table --}}
    <divclass="switches">
        <br>


        <div class="xs tabls">
            <h3 class="blank1">All Dealers</h3>
            <div class="bs-example4" data-example-id="contextual-table">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Dealer Address</th>
                                <th>Dealer Name</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">{{numbering 1}}</th>
                                <td>Bismi Hyper Market</td>
                                <td>Tom Cruise</td>
                                <td>Open <small> 6:30 pm </small></td>
                                <td>
                                    <a href="" title="Edit"><i class="fa fa-pencil-square-o "></i></a>
                                    <a href="" title="Delete"><i class="fa fa-trash-o text-danger"
                                            aria-hidden="true"></i></a>
                                    <a href="" title="Ban"><i class="fa fa-ban text-warning"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>


        </div>
</div>
</div>