<div class="graphs">
    {{!-- widget --}}
    
  
    {{!-- widget end --}}
    {{!-- Table --}}
    <divclass="switches">
        <br>


        <div class="xs tabls">
            <h3 class="blank1"> Dealer's Ban List </h3>
            <div class="bs-example4" data-example-id="contextual-table">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Dealer Address</th>
                                <th>Dealer Name</th>
                                
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">{{numbering 1}}</th>
                                <td>Bismi Hyper Market</td>
                                <td>Tom Cruise</td>
                              
                                <td>
                                    <a href="" class="btn btn-success" title="Unban">Unban</i></a>
                                    <a href=""  class="btn btn-danger" title="Ban">Ban</i></a>
                                 
                                
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>


        </div>
</div>
</div>