
<div class="container  py-3 z-depth-1 rounded">


    <!--Section: Content-->
    <section class="dark-grey-text">

        <!-- Shopping Cart table -->
        <div class="table-responsive">
            <h4>Dealer's Ban List</h4>
            <table class="table product-table mb-0">

                <!-- Table head -->
                <thead class="mdb-color lighten-5">
                    <tr>
                        <th class="font-weight-bold">
                            <strong>#</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Dealer Address</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Dealer Name</strong>
                        </th>
                       
                        <th>Action</th>
                    </tr>
                </thead>
                <!-- /.Table head -->

                <!-- Table body -->
                <tbody>

                    <!--  row -->
                    {{#each dealerDetails}}
                    <tr>
                        <th scope="row">{{numbering @index}}</th>
                        <td>
                            <h5 class="mt-1">
                                <strong>{{this.storeName}}</strong>
                            </h5>
                            <p class="text-muted">{{this.address}}</p>
                        </td>
                        <td><strong>Ambili </strong></td>
                      

                        <td>
                            <a href="{{_id}}" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top"
                                title="Unban"><i class="fas fa-check"></i>
                            </a>
                          
                            <a href="" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top"
                                title="Ban"><i class="fas fa-ban"></i>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                    <!-- /. row -->


                </tbody>
                <!-- /.Table body -->

            </table>

        </div>
        <!-- /.Shopping Cart table -->

    </section>
    <!--Section: Content-->


</div>
<!--Section: Main panel-->