<div class="container-fluid">

	<!-- Section: Edit Account -->
	<section class="section">
		<form class="form-horizontal" method="POST" action="/admin/new-dealer" enctype="multipart/form-data">
			<!-- First row -->
			<div class="row">
				{{!-- Form start --}}

				<!-- First column -->
				<div class="col-lg-4 mb-4">

					<!-- Card -->
					<div class="card card-cascade narrower">

						<!-- Card image -->
						<div class="view view-cascade gradient-card-header mdb-color lighten-3">
							<h5 class="mb-0 font-weight-bold">Add Photo</h5>
						</div>
						<!-- Card image -->

						<!-- Card content -->
						<div class="card-body card-body-cascade text-center">
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfO2uBQZ2-m7MkBvge4dwsLxEt6hztJtg1kA&usqp=CAU" alt="User Photo"
								class="z-depth-1 mb-3 mx-auto img-fluid" alt="User Photo" id="imageView">

							<p class="text-muted"><small>Profile photo will be changed automatically</small></p>
							<div class="row flex-center">
								<input type="file" id="FileUpload" name="image" onchange="viewImage(event)"
									style="display: none;">
								{{!-- <input id="uploadButton" type="button" value="Upload" onclick='$("#FileUpload").click()'> --}}
								<a class="btn btn-info btn-rounded btn-sm waves-effect waves-light"
									onclick='$("#FileUpload").click()'>Upload New
									Photo</a>
								{{!--<button
									class="btn btn-danger btn-rounded btn-sm waves-effect waves-light">Delete</button> --}}
							</div>
						</div>
						<!-- Card content -->

					</div>
					<!-- Card -->

				</div>

				<!-- First column -->

				<!-- Second column -->
				<div class="col-lg-8 mb-4">

					<!-- Card -->
					<div class="card card-cascade narrower">

						<!-- Card image -->
						<div class="view view-cascade gradient-card-header mdb-color lighten-3">
							<h5 class="mb-0 font-weight-bold">Dealer Account Creation</h5>
						</div>
						<!-- Card image -->

						<!-- Card content -->
						<div class="card-body card-body-cascade text-center">
							{{#if registrationStatus}}

							<div class="alert alert-success alert-dismissible fade show" role="alert">
								<strong>{{registrationStatus}}</strong>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							{{/if}}



							<!-- First row -->

							<div class="row">

								<!-- First column -->
								<div class="col-md-6">
									<div class="md-form mb-0">
										<input type="text" class="form-control validate" value="" name="username"
											required placeholder="Username">
										<label for="form1" data-error="wrong" data-success="right">Username</label>
									</div>
									{{#if usenameExistError}}
									<div class="alert alert-danger  alert-dismissible fade show" role="alert">
										<strong>{{usenameExistError}}</strong>
									</div>

									{{/if}}
								</div>
								<!-- Second column -->
								<div class="col-md-6">
									<div class="md-form mb-0">
										<input type="password" name="password" class="form-control validate" required
											placeholder="Password">
										<label for="password" data-error="wrong" data-success="right">Password</label>
									</div>
								</div>
							</div>
							<!-- First row -->

							<!-- First row -->
							<div class="row">
								<!-- First column -->
								<div class="col-md-6">
									<div class="md-form mb-0">
										<input type="text" id="form81" name="storename" placeholder="Store Name"
											class="form-control validate" required>
										<label for="form81" data-error="wrong" data-success="right">Store Name</label>
									</div>
								</div>

								<!-- Second column -->
								<div class="col-md-6">
									<div class="md-form mb-0">
										<input type="text" name="name" placeholder="Dealer Name"
											class="form-control validate">
										<label for="Dealer Name" data-error="wrong" data-success="right">Dealer
											Name</label>
									</div>
								</div>
							</div>
							<!-- First row -->

							<!-- Second row -->
							<div class="row">

								<!-- First column -->
								<div class="col-md-6">
									<div class="md-form mb-0">
										<input type="email" name="email" placeholder="abc@somthing.com"
											class="form-control validate">
										<label for="email">Email address</label>
									</div>
								</div>
								<!-- Second column -->
								<div class="col-md-6">
									<div class="md-form mb-0">
										<input type="text" name="phoneNumber" placeholder="99999999"
											class="form-control validate" onblur="phonenumber(this)">
										<label for="phone Number" data-error="wrong" data-success="right">Phone
											Number</label>
											<span class="validation-error-phonenumber"></span>
									</div>
								</div>
							</div>
							<!-- Second row -->

							<!-- Third row -->
							<div class="row">

								<!-- First column -->

								<div class="col-md-6">
									<div class="md-form mb-0">
										<textarea type="text" name="address" class="md-textarea form-control"
											rows="3"></textarea>
										<label for="form78">Address</label>
									</div>
								</div>
								<!-- Second column -->
								<div class="col-md-6">
									<div class="md-form mb-0">
										<textarea type="text" name="extrainfo" class="md-textarea form-control"
											rows="3"></textarea>
										<label for="form78">Extra Information</label>

									</div>
								</div>
							</div>
							<!-- Third row -->

							<!-- Fourth row -->
							<div class="row">
								<div class="col-md-12 text-center my-4">
									<input type="submit" value="Create" class="btn btn-outline-info btn-rounded">
								</div>
							</div>
							<!-- Fourth row -->



						</div>
						<!-- Card content -->

					</div>
					<!-- Card -->

				</div>
				<!-- Second column -->

			</div>
			<!-- First row -->
	</form>
	</section>
	<!-- Section: Edit Account -->

</div>

<script>
	function viewImage(event) {
		document.getElementById('imageView').src = URL.createObjectURL(event.target.files[0])
	}
//phonenumber
       function phonenumber(inputtxt) {

           var phoneno = /^[6-9]\d{9}$/, text;

           if (inputtxt.value.match(phoneno) || inputtxt.value.length == 0) {
               text = "";
           }
           else {
               text = "Not a valid Phone Number";
           }
           $(".validation-error-phonenumber").html(text);

       }
</script>