<div class="graphs">

	<div class="tab-content">
		<div class="tab-pane active" id="horizontal-form">
			<form class="form-horizontal">


				<div class="row">

					<div class=" ">
						<div class="sign-up">

							{{!-- <h3>Register Here</h3> --}}
							<div class="sign-u">
								<center>
									<img src="../images/1.jpg" style="width:200px;  border-radius: 50%;"
										alt="Profile Picture">
									<input type="file" name="image" id="image">
								</center>
								<div class="clearfix"> </div>
							</div>
							<br>
							{{!-- <h5>Login Information</h5> --}}
							<div class="sign-u">
								<div class="sign-up1">
									<h4>Userame* :</h4>
								</div>
								<div class="sign-up2">
									<input type="text" class="form-control1" name="username" placeholder="Username">
								</div>
								<div class="clearfix"> </div>
							</div>

							<div class="sign-u">
								<div class="sign-up1">
									<h4>Password* :</h4>
								</div>
								<div class="sign-up2">
									<input type="password" class="form-control1" name="password" placeholder="Password">

								</div>
								<div class="clearfix"> </div>
							</div>

							{{!-- <h5>Store Details</h5> --}}
							<div class="sign-u">
								<div class="sign-up1">
									<h4>Store Name* :</h4>
								</div>
								<div class="sign-up2">
									<input type="text" class="form-control1" id="storename" name="storename"
										placeholder="Store Name">

								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>Address:</h4>
								</div>
								<div class="sign-up2">
									<textarea class="form-control1" name="address"> </textarea>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4>Extra Information:</h4>
								</div>
								<div class="sign-up2">
									<textarea class="form-control1" name="extra-info"> </textarea>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sign-u">
								<div class="sign-up1">
									<h4> Phone Number</h4>
								</div>
								<div class="sign-up2">
									<input type="text" class="form-control1" name="phone-number"
										placeholder="Phone Number">
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="sub_home">
								<div class="sub_home_left float-right">

									<input type="submit" value="Create">
								</div>

								<div class="clearfix"> </div>
							</div>
						</div>
					</div>

					<div class="clearfix"> </div>
				</div>
			</form>
		</div>
	</div>

</div>