<div class="container-fluid py-3 z-depth-1 ">
    {{#if datasaved}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Timing Updated Successfully.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/if}}
    <!--Section: Main panel-->
    <!-- Section: Block Content -->
    <section>
        <form action="/dealer/settings" method="POST">
            <!--Grid row -->
            <div class="row  z-depth-1 mx-1 my-3">

                <!--Grid column-->

                <div class="col-xs-4 col-md-4 ">
                    <div class="media  md-float-right">
                        <div class="media-body py-3">
                            Opening Time<input type="time" name="openingtime" title="Opening Time"
                                value="{{timing.openingTime}}" required>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 col-md-4 ">
                    <div class="media  ">
                        <div class="media-body py-3">
                            Clossing Time <input type="time" name="closingtime" title="Closing Time"
                                value="{{timing.closingTime}}" required>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 col-md-2 ">
                    <div class="media ">
                        <div class="media-body pt-md-4">
                            <div class="form-check">
                                <input class="form-check-input" name="status" type="checkbox" {{#if (eqIf timing.status 1)}} checked {{else}} {{/if}} value="1" id="flexCheckDefault" />
                                <label class="form-check-label text-capitalize" for="flexCheckDefault">
                                    {{#if (eqIf timing.status 1)}}
                                    open
                                    {{else}}
                                    close
                                    {{/if}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2 ">
                    <div class="media ">
                        <div class="media-body p-1">

                            <button type="submit" href="" class="btn btn-success btn-rounded ">Submit
                            </button>
                        </div>
                    </div>
                </div>

                <!--Grid column-->
            </div>
            <!--Grid row-->
        </form>
    </section>

</div>