<!-- Main Navigation -->
<header>

	<!-- Sidebar navigation -->
	<div id="slide-out" class="side-nav mdb-color lighten-3 fixed">
		<ul class="custom-scrollbar">

			<!-- Logo -->
			<li class="logo-sn waves-effect py-3">
				<div class="text-center">
					<a href="#" class="pl-0"><img
							src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"></a>
				</div>
			</li>

			<!-- Search Form -->
			<!-- <li>
          <form class="search-form" role="search">
            <div class="md-form mt-0 waves-light">
              <input type="text" class="form-control py-2" placeholder="Search">
            </div>
          </form>
        </li> -->

			<!-- Side navigation links -->
			<li>
				<ul class="collapsible collapsible-accordion">

					<li>
						<a href="/admin" class="collapsible-header waves-effect"> <i
								class="w-fa fas fa-tachometer-alt"></i>Dashboards</a>
					</li>
					<li>
						<a class="collapsible-header waves-effect arrow-r">
							<i class="w-fa fas fa-user"></i>Dealer<i class="fas fa-angle-down rotate-icon"></i>
						</a>
						<div class="collapsible-body">
							<ul>
								<li>
									<a href="/admin/new-dealer" class="waves-effect">Add Dealer</a>
								</li>
								<li>
									<a href="/admin" class="waves-effect">View Dealer</a>
								</li>
								<li>
									<a href="/admin/ban-list-dealers" class="waves-effect">Ban List</a>
								</li>
							</ul>
						</div>
					</li>



					<li>
						<a class="collapsible-header waves-effect arrow-r">
							<i class="w-fa fas fa-user"></i>Profile<i class="fas fa-angle-down rotate-icon"></i>
						</a>
						<div class="collapsible-body">
							<ul>
								<li>
									<a href="../profile/basic-1.html" class="waves-effect">Basic 1</a>
								</li>
								<li>
									<a href="../profile/basic-2.html" class="waves-effect">Basic 2</a>
								</li>
								<li>
									<a href="../profile/extended.html" class="waves-effect">Extended</a>
								</li>
							</ul>
						</div>
					</li>

					<!-- Simple link -->
					<li>
						<a href="" class="collapsible-header waves-effect"><i class="w-fa far fa-bell"></i>Alerts</a>
					</li>


				</ul>
			</li>
			<hr>
			<!--Dealer Side navigation links -->
			<li>
				<ul class="collapsible collapsible-accordion">

					<li>
						<a href="/dealer" class="collapsible-header waves-effect"> <i
								class="w-fa fas fa-tachometer-alt"></i>Dashboards</a>
					</li>
					<li>
						<a class="collapsible-header waves-effect arrow-r">
							<i class="w-fa fas fa-user"></i>Dealer<i class="fas fa-angle-down rotate-icon"></i>
						</a>
						<div class="collapsible-body">
							<ul>
								<li>
									<a href="/admin/new-dealer" class="waves-effect">Add Dealer</a>
								</li>
								<li>
									<a href="/admin" class="waves-effect">View Dealer</a>
								</li>
								<li>
									<a href="/admin/ban-list-dealers" class="waves-effect">Ban List</a>
								</li>
							</ul>
						</div>
					</li>



					<li>
						<a class="collapsible-header waves-effect arrow-r">
							<i class="w-fa fas fa-user"></i>Profile<i class="fas fa-angle-down rotate-icon"></i>
						</a>
						<div class="collapsible-body">
							<ul>
								<li>
									<a href="../profile/basic-1.html" class="waves-effect">Basic 1</a>
								</li>
								<li>
									<a href="../profile/basic-2.html" class="waves-effect">Basic 2</a>
								</li>
								<li>
									<a href="../profile/extended.html" class="waves-effect">Extended</a>
								</li>
							</ul>
						</div>
					</li>

					<!-- Simple link -->
					<li>
						<a href="" class="collapsible-header waves-effect"><i class="w-fa far fa-bell"></i>Alerts</a>
					</li>


				</ul>
			</li>
			<!-- Side navigation links -->

		</ul>
		<div class="sidenav-bg mask-strong"></div>
	</div>
	<!-- Sidebar navigation -->