

	<!-- Sidebar navigation -->
	<div id="slide-out" class="side-nav mdb-color lighten-3 fixed">
		<ul class="custom-scrollbar">

			<!-- Logo -->
			<li class="logo-sn waves-effect py-3">
				<div class="text-center">
					<a href="#" class="pl-0"><img
							src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"></a>
				</div>
			</li>

			<!-- Search Form -->
			<!-- <li>
          <form class="search-form" role="search">
            <div class="md-form mt-0 waves-light">
              <input type="text" class="form-control py-2" placeholder="Search">
            </div>
          </form>
        </li> -->

		
			<!--Dealer Side navigation links -->
			<li>
				<ul class="collapsible collapsible-accordion">

					<li>
						<a href="/dealer" class="collapsible-header waves-effect"> <i
								class="w-fa fas fa-tachometer-alt"></i>Dashboards</a>
					</li>
					<li>
						<a class="collapsible-header waves-effect arrow-r">
							<i class="w-fa fas fa-user"></i>Dealer<i class="fas fa-angle-down rotate-icon"></i>
						</a>
						<div class="collapsible-body">
							<ul>
								<li>
									<a href="/dealer/profile" class="waves-effect">Profile</a>
								</li>
								
							</ul>
						</div>
					</li>
					<li>
						<a class="collapsible-header waves-effect arrow-r">
							<i class="w-fa fas fa-cart-plus"></i>Product<i class="fas fa-angle-down rotate-icon"></i>
					</a>
						<div class="collapsible-body">
							<ul>
								<li>
									<a href="/dealer/product" class="waves-effect">Add product</a>
								</li>
								<li>
									<a href="/dealer/view-product" class="waves-effect">View Product</a>
								</li>
								<li>
									<a href="/dealer/ban-product" class="waves-effect">Ban List</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a class="collapsible-header waves-effect arrow-r">
							<i class="w-fa fas fa-user"></i>User Profile<i class="fas fa-angle-down rotate-icon"></i>
						</a>
						<div class="collapsible-body">
							<ul>
								<li>
									<a href="/dealer/users" class="waves-effect">User Details</a>
								</li>
								<li>
									<a href="/dealer/add-user" class="waves-effect">Add User</a>
								</li>
								<li>
									<a href="/dealer/user-ban-list" class="waves-effect">User Ban List</a>
								</li>
							</ul>
						</div>
					</li>

					<!-- Simple link -->
					<li>
						<a href="/dealer/orders" class="collapsible-header waves-effect"><i class="fab fa-first-order"></i></i>Orders</a>
					</li>
					<li>
						<a href="/dealer/settings" class="collapsible-header waves-effect"><i class="fas fa-cog"></i>Settings</a>
					</li>


				</ul>
			</li>
			<!-- Side navigation links -->

		</ul>
		<div class="sidenav-bg mask-strong"></div>
	</div>
	<!-- Sidebar navigation -->