<!-- Modal: modalCart -->
<div class="modal fade" id="modalOredrHistory" tabindex="-1" role="dialog" aria-labelledby="modalOredrHistory"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Order History</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!-- Card -->
      <div class="card card-cascade narrower">
        <!-- Card content -->
        <div class="card-body card-body-cascade ">
          <!-- first row -->
          <section class="modal-data">
            <h1>No Data -----</h1>
            {{!-- <div class="row  z-depth-1 mx-2 my-2 py-2  ">
              <div class="col-12 ">
                <div class=" mb-0 ">
                  <span class="float-right font-weight-bold " style="float: right;">Order Id.&nbsp; <span
                      class=" text-truncate ">12345678910111213</span>
                  </span>
                  <p class="text-capitalize m-0">1 <span class="font-weight-bold"> my name </span></p>
                  <hr>
                  <span class="float-right font-weight-bold m-0 " style="float: right;">Total Amount.&nbsp;
                    <span>0</span>
                  </span>
                </div>
              </div>
            </div> --}}

          </section>
          <!--End first row -->

        </div>
        <!-- Card content -->

      </div>
      <!-- Card -->
      <!--Footer-->

    </div>
  </div>
</div>



<!-- Modal: modalCart -->


<!-- Quantity Style  pt-2 ml-2 fluid-->

<div class="modal fade" id="modalCartDetails" tabindex="-1" role="dialog" aria-labelledby="modalCart"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Cart Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <!--Grid row -->
        <div class="row">
          {{!-- Form start --}}

          <!-- First column -->
          <div class="col-lg-6 col-mb-6">

            <!-- Card -->
            <div class="card card-cascade narrower">
              <!-- Card content -->
              <div class="card-body card-body-cascade ">
                <!-- first row -->
                <section class="modal-data">
                  <div class="row  alert alert-info  alert-dismissible ">
                    <button type="button" class="close remove-product" data-toggle="tooltip" data-placement="top"
                      title="Remove Item"><i class="far fa-trash-alt red-text"></i></button>
                    <div class="col-md-4">
                      <div class="md-form mb-0">
                        <img src="https://mdbootstrap.com/img/Photos/Others/placeholder7.jpg" height="50px" width="50px"
                          alt="product cart Image" srcset="">
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="md-form mb-0 ">
                        <h6 class="text-capitalize"> <strong id="pro-name"> my name </strong></h6>
                        <input type="hidden" name="productId" value="">
                        <span class="quantity text-right">

                          <a class="minus-btn"><i class="fas fa-minus "></i></a>
                          <input type="text" name="name" value="1" disabled>
                          <a class="plus-btn"><i class="fas fa-plus "></i></a>
                        </span>
                      </div>
                    </div>
                    <div class="col-md-2 d-flex justify-content-between">

                      <div class="md-form mb-0 mx-auto py-3">

                        <h6>Rs.<span id="price ">00.00<span></h6>
                      </div>
                    </div>
                  </div>

                </section>
                <!--End first row -->
              </div>
              <!-- Card content -->

            </div>
            <!-- Card -->

          </div>

          <!-- First column -->

          <!-- Second column -->
          <div class="col-lg-6 col-mb-6">

            <!-- Card -->
            <div class="card card-cascade narrower">

              <!-- Card content -->
              <div class="card-body card-body-cascade ">

                <!-- First row -->
                <div class="row rounded bg-light">
                  <!-- First column -->
                  <div class="col-12">
                    <div class=" mb-0 pt-1">
                      <div class="clearfix">
                        <p class="float-left">Total</p>
                        <p class="float-right font-weight-bold ">Rs.&nbsp; <span id="total">100</span> </p>
                      </div>
                    </div>
                  </div>
                  <!-- Secound column -->
                  <div class="col-12">
                    <div class=" mb-0">
                      <div class="clearfix">
                        <p class="float-left">Total Item</p>
                        <p class="float-right font-weight-bold total-item">12</p>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Secound row -->
                <div class="row pt-2">
                  <div class="col-12">
                    <div class="clearfix">

                      <p class="float-left font-weight-bold ">non-contact-delivery</p>
                      <span class="float-right">
                        <fieldset id="buttonRoundedWrapper" class="switch">
                          <label>
                            <input value="true" name="buttonRounded" type="checkbox">
                            <span class="lever"></span>
                          </label>
                        </fieldset>
                      </span>
                    </div>
                  </div>
                </div>

                <!-- third row -->
                <div class="row rounded bg-light pt-md-2">
                  <!-- First column -->
                  <div class="col-2">
                    <div class=" mb-0">
                      <i class="fas fa-map-marker-alt blue-text fa-3x"></i>
                    </div>
                  </div>
                  <!-- Secound column -->
                  <div class="col-6">
                    <div class=" mb-0 pt-md-3">
                      <p class="float-left font-weight-bold text-capitalize">adoor,adoor</p>
                    </div>
                  </div>
                  <!-- third column -->
                  <div class="col-4">
                    <div class=" mb-0 pt-md-3 text-right">
                      <p> <a href="">Change</a> </p>
                    </div>
                  </div>
                </div>
                <!-- Forth row -->
                <div class="row rounded bg-light   mt-1 py-2">
                  <div class="col-12 mt-3 ">
                    <div class="clearfix">
                      <p class="float-left  text-capitalize h4">Mode of payment</p>
                      <p class="float-right"> <a href="">Change</a> </p>
                    </div>
                  </div>

                  <!-- Secound column -->
                  <div class="col-12 d-flex justify-content-center">
                    <div class=" mb-0 ">
                      <i class="fab fa-paypal blue-text fa-3x"></i>
                    </div>
                  </div>
                  <div class="col-12 d-flex justify-content-center">
                    <div class=" mb-0 ">
                      <a href="" class="btn btn-outline-info btn-rounded waves-effect text-capitalize check-out">Check
                        Out</a>
                    </div>
                  </div>

                </div>


              </div>
              <!-- Card content -->

            </div>
            <!-- Card -->

          </div>
          <!-- Second column -->

        </div>
        <!--Grid row-->
      </div>

    </div>
  </div>
</div>









