<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Mart Online Supermarket | {{title}}</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.11.0/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://mdbootstrap.com/api/snippets/static/download/MDB-Pro_4.19.1/css/mdb.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-addons-4.19.1.min.css">
    <style>
        body {
            background-color: #eee;
        }
    </style>
</head>

<body class=" light-blue-skin pb-5">

    <!--Main layout-->
    <!--Grid row-->
    <div class="container-fluid">
    <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-md-4 mt-5">

            <form action="/login" method="POST">

                <div class="card">

                    <div class="card-header"> Login Page</div>
                    <div class="card-body">
                        {{#if loginError}}

                        <div class="alert alert-danger  fade show" role="alert">
                            <strong>{{loginError}}</strong>
                        </div>
                        {{/if}}

                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" placeholder="User Name" name="username"
                                value="manju">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" placeholder="Enter password" name="password"
                                value="1234">
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                                <label class="form-check-label" for="materialUnchecked">Remember me</label>
                            </label>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-rounded btn-outline-success btn-lg float-right"><i
                                class="fas fa-sign-in-alt"></i>&nbsp; Login</button>
                    </div>
                </div>
            </form>

        </div>
        <!--Grid column-->

    </div>
</div>



</body>
<!-- Footer -->
<footer class="page-footer font-small fixed-bottom">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">&#xA9; 2018 Copyright:
        <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>

</html>