<div class="container-fluid py-3 z-depth-1 ">
    <!--Section: Main panel-->
    <!-- Section: Block Content -->
    <section>

        <!--Grid row -->
        <div class="row justify-content-between rounded alert alert-danger mx-1">

            <!--Grid column-->
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                <div class="media text-center">
                    <i class="fas fa-map-marker-alt  fa-3x  p-1 rounded-left text-white mr-1"></i>
                    <div class="media-body py-1 ">
                        <p class="text-uppercase text-muted mb-1"><small>Flat No. 32</small></p>
                        <p class="text-uppercase text-muted mb-1"><small>Hi-Light</small></p>
                        {{!-- <h5 class="font-weight-bold mb-0">2</h5> --}}
                    </div>
                </div>
            </div>


            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                <div class="media text-center ">
                    <div class="media-body py-3">
                        <h6 class="text-uppercase ">Shibu Das</h6>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                <div class="media text-center ">
                    <div class="media-body py-2">
                        <h6 class="text-uppercase ">Created On</h6>
                        <p class="text-lowercase text-muted mb-0"><small>just now</small></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                <div class="media  text-center">
                    <!-- <i class="fas fa-download fa-lg pink z-depth-1 p-4 rounded-left text-white mr-3"></i> -->
                    <div class="media-body p-3 text-center">
                        <select class="custom-select custom-select-sm">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2 ">
                <div class="media  text-center">
                    <div class="media-body p-1">
                        <a href="" class="btn btn-success btn-rounded ">Submit
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2 ">
                <div class="media  text-center">
                    <div class="media-body p-1">
                        <a href="" class="btn btn-info btn-rounded ">View
                        </a>
                    </div>
                </div>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </section>
    <section>
        <div class="row justify-content-between">
              <div class="col-xs-12  col-md-8 ">
                  <table class="table table-default">
                      <tr>
                          <th>Item</th>
                          <th>Qty</th>
                          <th>X</th>
                          <th>Cunt</th>
                      </tr>
                      <tr>
                          <td>Bell Papper red</td>
                          <td>1kg</td>
                          <td>X</td>
                          <td>1</td>
                      </tr>
                      <tr>
                          <td>apple</td>
                          <td>3kg</td>
                          <td>X</td>
                          <td>1</td>
                      </tr>
                  </table>
              </div>
              <div class="col-xs-12  col-md-4  ">
                  <div class="row">
                      <div class="col-6">
                          <p>Total Cost</p>
                          
                      </div>
                      <div class="col-6">
                         <p>Rs. 123</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-6">
                          <p>Total Item</p>
                          
                      </div>
                      <div class="col-6">
                         <p>5</p>
                      </div>
                  </div>
              </div>
        </div>
    </section>
    <!-- Section: Block Content -->
</div>